<!doctype html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org/">
  <head>
    <title>Editar Animal - Vetamigos</title>
  </head>
  <body>
    <h1>Editar Animal</h1>
    <a href="/animais">Voltar a página inicial</a>

    <form method="post" action="/animais/salvar" th:object="${animal}">
      <!-- eu preciso desse cara: PORQUE o id é obrigatório para o save() atualizar -->
      <input type="hidden" th:field="*{id}" />

      <label>Nome</label>
      <input type="text" th:field="*{nome}" /><br />

      <label>Espécie</label>
      <input type="text" th:field="*{especie}" /><br />

      <label>Raça</label>
      <input type="text" th:field="*{raca}" /><br />

      <label>Sexo</label>
      <input type="text" th:field="*{sexo}" /><br />

      <label>Data de Nascimento</label>
      <input type="datetime" th:field="*{dataDeNascimento}" /><br />

      <label>Peso</label>
      <input type="number" th:field="*{peso}" step="0.01" /><br />

      <button type="submit">Atualizar o Animal</button>
    </form>
  </body>
</html>
